@import url('https://fonts.cdnfonts.com/css/penn-station');
/* basic root */
:root{
    --bs-primary:#e4583b;
    --bs-secondary: #4a8af7;
    --bs-border-color: #4a8af7;
    --bs-border-width: 3px;
}
h1, h2{
    font-family: 'Penn Station', sans-serif;
    color: var(--bs-dark);                                            
}
.banner{
    background: url(../images/banner.png) no-repeat center;
    background-size: cover; 
    height: 120vh;
}
body{
    background-color: var(--bs-light);
}
.hero{
    height: 90vh;
}
.footer{
    background: url(../images/footer-background.png) no-repeat center;
    background-size: cover;
}
#portfolio{
    background: url(../images/background-2.png) no-repeat center;
    background-size: cover;
}
.btn-outline-primary {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
}
.btn-outline-secondary {
    --bs-btn-color: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-bg: var(--bs-secondary);
    --bs-btn-hover-border-color: var(--bs-secondary);
    --bs-btn-active-bg: var(--bs-secondary);
    --bs-btn-active-border-color: var(--bs-secondary);
}
.btn-primary{
    --bs-btn-color: var(--bs-light);
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-light);
    --bs-btn-hover-color: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-active-bg: var(--bs-light);
    --bs-btn-active-border-color: var(--bs-primary);
}
.btn-secondary{
    --bs-btn-color: var(--bs-light);
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-bg: var(--bs-light);
    --bs-btn-hover-color: var(--bs-secondary);
    --bs-btn-hover-border-color: var(--bs-secondary);
    --bs-btn-active-bg: var(--bs-light);
    --bs-btn-active-border-color: var(--bs-secondary);
}
.socialmedia-icon i{
    color: var(--bs-light);
}
.navbar-toggler{
    color: var(--bs-light);
}
ul li a:hover, ul li a:focus{
    font-weight: bold;
    text-decoration: underline;
}
